body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.style-header{
    background: linear-gradient(to right,violet ,purple 50%);
    z-index: 10;
    box-shadow: 0px 0px 10px black;
}
.navbar-brand{
    font-size: 26px;
    font-weight:bolder;
    text-shadow: 0px 0px 10px black;
}

/* SECTION-1 */

.sec-1{
padding-bottom: 50px;
}

.coloumn-1{
    background-color: purple;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    color: rgb(211, 206, 206);
}

.coloumn-1>p:nth-child(1){
    font-weight: 600;
    font-size: 26px;
    color: white;
}
.coloumn-1>p{
    font-size: 20px;
}

.coloumn-2 > img{
    width: 300px;
    height: 300px;
}

/* SECTION-2 */

.cor-con{
    max-width: 800px;
    max-height: 750px;
    overflow: hidden;
}

.dash{
   
   width: 180px;
   height: 10px;
   background-color: purple;    
}

.car-img img{
    width: 100%;
    height: 100%;
}

/* SECTION-3 */

.sec-3-col>p:nth-child(1){
  font-size: 20px;
}
.sec-3-col>i{
    font-size: 50px;
}

#pos{
    font-weight: 600;
    font-size: 24px;
}

/* SECTION-4 */

.con-text{
    width: fit-content;
    height: fit-content;
}

.con-img-holder{
    width: 400px;
    height: 400px;
}
.con-img-holder>img{
    width: 100%;
    height: 100%;
}

.sec-4{
    background-color: violet;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-holder{
    background-color: purple;
    border-radius: 20px;
}

.send-btn{
    width: 200px;
    border: 1px solid white;
    background: linear-gradient(to right, violet,purple 50%);
    color: white;
}
.send-btn:hover{
    transition: 0.5s;
    border: 1px solid;
    background: black;
    color: white;
}

/* footer */
.footer{
    background-color: purple;
}
.footer a{
    text-shadow: 0px 0px 10px black;
}
.footer  p{
    font-size: 16px;
}

@media screen and (max-width:470px) {
    .coloumn-2>img{
       width: 350px;
       height: 350px;
    }
    .con-img-holder{
        width: 350px;
        height: 350px;
    }

    .footer a{
      display: none;
    }
}